// ---
// ---
// @import "minima";
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);
$visited-color: #fff;
$black-text-color: black;
$link-hover-color: #1756a9;
$nav-padding: 7%;
$wrapper-max-width: 85%;
$grey: #999;
$link-color: #4a476e;
$link-visited-color: #5e599e;
/* basic reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
}

.wrapper{
  max-width: $wrapper-max-width;
}

.home {
  display: flex;
  flex-direction: column;
  // max-width: 85%;
  margin: 0 auto;
  // padding: 20px;
}

// .site-nav{
//   padding-right: $nav-padding;
// }

// .site-title{
//   padding-left: $nav-padding;
// }


.post-list, .project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3em;
  margin-top: 20px;
  margin-bottom: 40px; // Add space after the grid
  min-height: 0; // Add this line to ensure proper sizing
}
.single-column-post-list {
  display: grid;
  grid-template-columns: 1fr; /* Single column */
  gap: 3em;
  margin-top: 20px;
}
.post-card, .project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures that items are spread out and the date stays at the bottom */
  height: 100%; /* Makes the card take up the full height */
  
  
  &:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
}

.post-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  width: 100%; /* Adjust as needed */
  max-height: 185px; 
  object-fit: cover; 
}

.posts.post-image {
  max-height: 300px; 
}

.post-excerpt {
  font-size: 0.7em;
  color: #666;
}

.post-meta {
  font-size: 0.6em;
  color: $grey;
  margin-bottom: 0px;
  margin-top: auto; /* Pushes the date to the bottom */
}

.about-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}



a{
  text-decoration: none;
  color: $link-color;
}

a:visited {
  color: $link-color;
  text-decoration: none;  // This will keep the original color
}
a:hover{
  text-decoration: none;
  color: $link-hover-color;
}
.about-link  {
  &:visited {
    color: $link-visited-color;  // This will keep the original color
  }
}

.svg-icon{
  padding-right: 0;
}

.author_date, .author{
  color: $grey;
  padding-bottom: 5px;
  // &:visited
}

.post-header{
  border-bottom: 1px solid $grey;

}