<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <link rel="canonical" href="https://rdjarbeng.github.io">
  <meta http-equiv="refresh" content="1; url=https://rdjarbeng.github.io">
  
  {%- include head.html -%}
  
  <body>
    
    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <p>This page has moved. If you are not redirected, <a href="https://rdjarbeng.github.io">click here</a>.</p>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  <script src="/RDjarbeng/assets/js/redirect.js"></script>
</html>
