---
layout: default
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TW73L4TE58"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TW73L4TE58');
</script>
<div class="home">
  <h1>Page is under construction 🙂-Welcome to Richard Djarbeng's Website</h1>
  <p>Non-technical posts are in the personal section. {{ site.description }}</p>

  <h2 class="section-title">Latest Posts</h2>
  <div class="post-list">
    {% for post in site.posts limit:4 %}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <div class="post-card">
        <h4>
            {{ post.title | escape }}
          </h4>
          {% if post.image and post.image.size > 0 %}
          <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-image">
          {% endif %}
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
          <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        </div>
      </a>
    {% endfor %}

  </div>
  <a href="{{ '/posts' | relative_url }}" class="about-link">View all posts➡️</a>



  <h2 class="section-title">Personal posts</h2>
  <div class="post-list">
    {% assign sorted_posts = site.personal | sort: 'date' | reverse %}
    {% for personal in sorted_posts limit:3 %}

    <a class="post-link" href="{{ personal.url | relative_url }}">
      <div class="post-card">
        <h4>
            {{ personal.title | escape }}
          </h4>
          {% if personal.image and personal.image.size > 0 %}
          <img src="{{ personal.image | relative_url }}" alt="{{ personal.title }}" class="post-image">
          {% endif %}
          <p class="post-excerpt">{{ personal.excerpt | strip_html | truncatewords: 30 }}</p>
          <p class="post-meta">{{ personal.date | date: "%B %-d, %Y" }}</p>
        </div>
      </a>

    {% endfor %}
  </div>

  <a href="{{ '/personal' | relative_url }}" class="about-link">All personal posts➡️</a>
</div>
