---
layout: default
---

<div class="home">
  <h1>Page is under construction 🙂-Welcome to Richard Djarbeng's Website</h1>
  <p>{{ site.description }}</p>

  <h2>Latest Posts</h2>
  <div class="post-list">
    {% for post in site.posts limit:4 %}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <div class="post-card">
        <h3>
            {{ post.title | escape }}
          </h3>
          {% if post.image %}
          <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-image">
          {% endif %}
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
          <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        </div>
      </a>
    {% endfor %}

    <a href="{{ '/posts' | relative_url }}" class="about-link">View all posts➡️</a>
  </div>



  <h2>My Projects</h2>
  <div class="project-list">
    {% for project in site.data.projects limit:3 %}
      <div class="project-card">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <a href="{{ project.url }}" class="project-link">View Project</a>
      </div>
    {% endfor %}
  </div>

  <a href="{{ '/about' | relative_url }}" class="about-link">More About Me</a>
</div>
