---
layout: default
title: Blog
---

<h1>{{ site.posts | size }} Posts </h1>

<div class="single-column-post-list">
  {% for post in site.posts %}
    <div class="post-card">
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
      {% if post.image %}
        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-image">
      {% endif %}
      <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
      <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
  {% endfor %}
</div>
